## Database Basics: Key Terminology

Before diving into using databases with Python, it's important to understand the fundamental concepts from relational database theory. This section introduces the core terminology to help you think like a database professional.

### Visual Overview of Relational Concepts

A **relation** is defined as a set of **tuples** that share the same **attributes**. 

- Each **tuple** (row) usually represents an object (e.g., a person, track, or concept) and contains information about that object.
- Objects are typically physical things or abstract concepts.
- A relation is usually described as a **table**, organized into rows and columns.
- All data in a single attribute (column) belong to the same **domain** and follow the same constraints.

![Relational model diagram showing Relation (table), Tuples (rows), and Attribute (column)](https://assets.digitalocean.com/articles/understanding_relational_dbs/tuples_chart_final.png)

Another clear illustration:

![Diagram highlighting Attribute (column), Tuple (row), and Relation (table)](https://cms.jaro.in/wp-content/uploads/2025/09/rdbmstable1.svg)

### Real-World Analogy: Spreadsheet as a Relation

Think of a spreadsheet (like in Excel) as a simple example of a relational table:

- **Columns** = Attributes (e.g., TITLE, RATING, LEN)
- **Rows** = Tuples (each row represents one music track)
- The entire sheet/tab = Relation/Table

![Spreadsheet example labeled with Columns/Attributes, Rows/Tuples, and Tables/Relations](https://nishantmunjal.com/wp-content/uploads/2024/03/image-14.png)

### Core Terms

- **Database**  
  A collection of organized data, typically containing many tables that store related information.

- **Relation (or Table)**  
  A structured collection of data organized into rows and columns. It contains tuples (rows) and attributes (columns).

- **Tuple (or Row/Record)**  
  A single entry in a table ‚Äî a set of related values that represent one "object" or entity, such as a person, a student, or a music track.

- **Attribute (or Column/Field)**  
  A specific piece of data in a tuple ‚Äî one property of the entity, such as name, age, or grade. Each column has a name and a data type.

### Quick Example Table

Here's a simple representation of a `students` table (like the one we'll use in the Python examples):

| id (Primary Key) | name     | age | grade |
|------------------|----------|-----|-------|
| 1                | Alice    | 20  | 95.5  |
| 2                | Bob      | 22  | 88.0  |
| 3                | Charlie  | 21  | 92.3  |

- **Attributes (columns)**: `id`, `name`, `age`, `grade`
- **Tuples (rows)**: Each student's data row
- **Relation**: The entire `students` table
- **Database**: Could contain this table plus others (e.g., courses, enrollments)

Understanding these terms will make working with SQL and Python's `sqlite3` much clearer ‚Äî tables are relations, rows are tuples, and columns are attributes!

Now you're ready to proceed to connecting and manipulating databases in Python. üöÄ

# Database Model

A **database model** or **database schema** is the **structure or format of a database**, described in a formal language supported by the database management system. In other words, a ‚Äúdatabase model‚Äù is the application of a data model when used in conjunction with a database management system.

# Common Database Systems

* Three Major Database Management Systems in wide use
  
  * **Oracle** - Large, commercial, enterprise-scale, very very tweakable
  * **MySql** - Simpler but very fast and scalable - commercial open source
  * **SqlServer** - Very nice - from Microsoft (also Access)
* Many other smaller projects, free and open source
  * HSQL, **SQLite**, Postgress

## Start Simple ‚Äì A Single Table

When learning SQL and databases, the best approach is to **start small**.  
Instead of working with many tables and relationships, we begin with **one simple table** and practice basic operations on it.

This approach helps you focus on:
- Understanding SQL syntax
- Learning how tables store data
- Practicing CRUD operations (Create, Read, Update, Delete)

---

### Creating a Simple Table

We will create a table named `users` with two columns:

- `name` ‚Üí stores the user's name  
- `email` ‚Üí stores the user's email address  

Here is the SQL code:

```sql
CREATE TABLE users (
    name VARCHAR(128),
    email VARCHAR(128)
);

### Viewing Data in the Table

After creating the `users` table, we can insert data into it.  
Each row in the table represents **one user**.

In the example below, the table contains **four rows**:

- Chuck  
- Colleen  
- Ted  
- Sally  

Each row has:
- a `name`
- an `email`

This confirms that our table is working correctly and can store data as expected.

---

### Example Data in the `users` Table

| name    | email            |
|--------|------------------|
| Chuck  | csev@umich.edu   |
| Colleen | cwl@umich.edu    |
| Ted    | ted@umich.edu    |
| Sally  | a1@umich.edu     |

Each row is an independent record in the database.

---

### Inserting Data with SQL

The `INSERT` statement is used to add new rows into a table.  
Each execution of an `INSERT` statement creates **one new record** in the database.

```sql
INSERT INTO users (name, email)
VALUES ('Kristin', 'ktf@umich.edu');

```

### Understanding Rows and Columns

- **Columns** define the structure of the table  
  (`name`, `email`)
- **Rows** store actual data  
  (one row = one user)

A table can have:
- Many rows
- The same structure (columns) for every row

---
### Deleting Data with SQL

The `DELETE` statement is used to remove one or more rows from a table  
based on a specified condition.

Without a condition, all rows would be deleted, so **`WHERE` is critical**.

```sql
DELETE FROM users
WHERE email = 'ted@umich.edu';

```
Always verify the result after deleting data:

```sql
SELECT * FROM users;
```

### Updating Data with SQL

The `UPDATE` statement is used to modify existing data in a table.  
It allows updating one or more columns **based on a condition**.

Without a `WHERE` clause, **all rows would be updated**, so it must be used carefully.

```sql
UPDATE users
SET name = 'Charles'
WHERE email = 'csev@umich.edu';
```
This statement updates the name column for the user
whose email is csev@umich.edu.

#### Explanation

- UPDATE users
- Specifies the table that contains the data to be updated.

- SET name = 'Charles'
  Defines the new value for the name column.

- WHERE email = 'csev@umich.edu'
 Selects the specific row that should be updated.

Only rows matching the condition are affected

---
### Retrieving Records with SQL: SELECT

The `SELECT` statement is used to retrieve a group of records from a table.  
You can either retrieve all the records or a subset of the records using a `WHERE` clause.

```sql
SELECT * FROM users;
```

This statement retrieves all records from the users table.

#### Using WHERE with SELECT

The WHERE clause allows you to filter records based on specific criteria.
For example, to retrieve the user with the email csev@umich.edu:

```sql
SELECT * FROM users
WHERE email = 'csev@umich.edu';
```

This statement retrieves only the row(s) where the email matches csev@umich.edu.

#### Explanation

SELECT * FROM users
Retrieves all columns and all rows from the users table.

WHERE email = 'csev@umich.edu'
Filters the results to return only the rows where the email matches the specified value.


---
### Sorting Data with SQL: ORDER BY

You can add an `ORDER BY` clause to `SELECT` statements to sort the results in ascending or descending order.

#### Example 1: Sorting by email (ascending order by default)

```sql
SELECT * FROM users
ORDER BY email;
```
This will return all records sorted alphabetically by the email column in ascending order.

---

### Example 2: Sorting by name

```sql
SELECT * FROM users
ORDER BY name;
```

This will return all records sorted alphabetically by the name column.

---

### Sorting in Descending Order

To sort in descending order, add the `DESC` keyword after the column name:

```sql
SELECT * FROM users
ORDER BY email DESC;
```
This statement sorts the `users` table by `email` in descending order (Z to A).

---

You can also combine `ASC` and `DESC` to sort by multiple columns:

```sql
SELECT * FROM users
ORDER BY name ASC, email DESC;
```

This will sort the `users` table first by `name` (ascending), and then by `email` (descending).

---

### Why ORDER BY Matters

Sorting is helpful for organizing your data before presenting it.

It allows you to get the most relevant or ordered data for reporting.

Sorting makes data analysis easier when dealing with large datasets.

---

### ORDER BY in the CRUD Cycle

`ORDER BY` is used in **Read** operations (the **R** in CRUD):

- **Create** ‚Üí INSERT
- **Read** ‚Üí SELECT with `ORDER BY`
- **Update** ‚Üí UPDATE
- **Delete** ‚Üí DELETE

Understanding how to sort data using `ORDER BY` improves how you interact with data in a relational database.

### Why This Step Matters

Seeing real data inside the table helps you:

- Understand how SQL stores information
- Verify that your table was created correctly
- Prepare for reading and writing data using Python
- Visualize how CRUD operations affect the database

---

### What We Have Achieved So Far

- ‚úî Created a database
- ‚úî Created a single table
- ‚úî Inserted data into the table
- ‚úî Viewed the stored records
- ‚úî Deleted specific records safely

---