## Many-to-Many Relationships in SQL

In SQL, many-to-many relationships occur when multiple rows in one table are associated with multiple rows in another table. This relationship is represented using a third table that holds the foreign keys from both tables, creating a link between them.

---

### Example:

Here we have a **Track** table and a **Genre** table:

- **Genre** has a one-to-many relationship with **Track** (one genre can be associated with multiple tracks).
- A single **Track** can belong to many genres, and a **Genre** can have many **Tracks**.

#### Tables involved:

1. **Genre** table: Stores the genre information.
2. **Track** table: Stores track information, including a foreign key pointing to the **Genre** table.

---

## SQL Query for Many-to-Many Relationship:

To retrieve tracks and their genres, we join the **Track** table with the **Genre** table on the `genre_id` column:

```sql
SELECT Track.title, Genre.name
FROM Track
JOIN Genre ON Track.genre_id = Genre.id;
```

### Why We Need Many-to-Many Relationships

- **Books** can have many **Authors**.
- **Authors** can write many **Books**.

To model this, we need a **junction table** to hold the relationships between **Books** and **Authors**. This table will contain two foreign keys:
1. `book_id` referencing the **Books** table.
2. `author_id` referencing the **Authors** table.

There is no separate primary key in the junction table since the combination of both foreign keys serves as a unique identifier for each relationship.

---

### Junction Table for Many-to-Many Relationship

To link **Books** and **Authors**, we use a junction table. For example, the **Author-Book Junction Table** would look like this:

- **Author-Book Junction Table**  
    - `book_id` (Foreign Key referencing **Books**)
    - `author_id` (Foreign Key referencing **Authors**)

---

### Example of Many-to-Many Relationship:

```sql
-- Example Schema for Books Table
CREATE TABLE Books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT
);

-- Example Schema for Authors Table
CREATE TABLE Authors (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT
);

-- Junction Table
CREATE TABLE Author_Book (
    book_id INTEGER,
    author_id INTEGER,
    FOREIGN KEY (book_id) REFERENCES Books(id),
    FOREIGN KEY (author_id) REFERENCES Authors(id)
);
```