# SQL Queries for the Assignment

## Question 1: 
**How do you retrieve users, their roles, and the courses they are enrolled in?**

Write a SQL query that retrieves the following:
- User name
- Course title
- Role (e.g., student, instructor)
  
The results should be ordered by:
- User name (descending)
- Course title (descending)
- Role (descending)

### Answer:
```sql
SELECT User.name, Course.title, Member.role
FROM User 
JOIN Member 
JOIN Course 
ON User.id = Member.user_id AND Member.course_id = Course.id
ORDER BY User.name DESC, Course.title DESC, Member.role DESC 
LIMIT 2;
```
## Question 2: 
**What does the following query do and what should the output look like?**

SELECT 'XYZZY' || hex(User.name || Course.title || Member.role) AS X
FROM User
JOIN Member
JOIN Course
ON User.id = Member.user_id AND Member.course_id = Course.id
ORDER BY X
LIMIT 1;

In [4]:
import json
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER PRIMARY KEY,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER PRIMARY KEY,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

# Ask for file name or use default
fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# Open and read the JSON file
str_data = open(fname).read()
json_data = json.loads(str_data)

# Iterate through the JSON data and insert into the tables
for entry in json_data:
    name = entry[0]
    title = entry[1]
    role = entry[2]  # role: 0 for student, 1 for instructor

    print((name, title, role))

    # Insert user if it does not exist
    cur.execute('''INSERT OR IGNORE INTO User (name) VALUES ( ? )''', ( name, ))

    # Retrieve the user_id for the inserted user
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    # Insert course if it does not exist
    cur.execute('''INSERT OR IGNORE INTO Course (title) VALUES ( ? )''', ( title, ))

    # Retrieve the course_id for the inserted course
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    # Insert membership (user-course relationship) with the role
    cur.execute('''INSERT OR REPLACE INTO Member (user_id, course_id, role)
        VALUES ( ?, ?, ? )''', ( user_id, course_id, role ))

    # Commit changes to the database
    conn.commit()

# Close the connection
conn.close()

('Wayne', 'si110', 1)
('Vaimante', 'si110', 0)
('Amelie', 'si110', 0)
('Yaseen', 'si110', 0)
('Maha', 'si110', 0)
('Fionn', 'si110', 0)
('Corinn', 'si110', 0)
('Kieran', 'si110', 0)
('Telise', 'si110', 0)
('Kinnon', 'si110', 0)
('Caseyleigh', 'si110', 0)
('Eduardo', 'si110', 0)
('Haydyn', 'si110', 0)
('Saraah', 'si110', 0)
('Jasmina', 'si110', 0)
('Kaylen', 'si110', 0)
('Jorja', 'si110', 0)
('Tanzeel', 'si110', 0)
('Karissa', 'si110', 0)
('Kady', 'si110', 0)
('Paulina', 'si110', 0)
('Etain', 'si110', 0)
('Jesutobiloba', 'si110', 0)
('Rosina', 'si110', 0)
('Sinai', 'si110', 0)
('Kamsiyochi', 'si110', 0)
('I', 'si110', 0)
('Junior', 'si110', 0)
('Ismail', 'si110', 0)
('Elizaveta', 'si110', 0)
('Wiktoria', 'si110', 0)
('Romi', 'si110', 0)
('Essa', 'si110', 0)
('Kylar', 'si110', 0)
('Saumya', 'si110', 0)
('Aniqa', 'si110', 0)
('Reagan', 'si110', 0)
('Kristin', 'si110', 0)
('Zhen', 'si110', 0)
('Georgina', 'si106', 1)
('Daumantas', 'si106', 0)
('Derrin', 'si106', 0)
('Alphonsina', 'si106', 0)
('Ruqaiya', 'si106', 0)
('Ralph', 'si106', 0)
('Orlagh', 'si106', 0)
('Eila', 'si106', 0)
('Kareem', 'si106', 0)
('Asha', 'si106', 0)
('Believe', 'si106', 0)
('Kallin', 'si106', 0)
('Cuba', 'si106', 0)
('Bethan', 'si106', 0)
('Ayva', 'si106', 0)
('Gemima', 'si106', 0)
('Kahlen', 'si106', 0)
('Carragh', 'si106', 0)
('Coran', 'si106', 0)
('Windsor', 'si106', 0)
('Phoebe', 'si106', 0)
('Kaelynn', 'si106', 0)
('Roslin', 'si106', 0)
('Medina', 'si106', 0)
('Tehzeeb', 'si206', 1)
('Caris', 'si206', 0)
('Carri', 'si206', 0)
('Rayden', 'si206', 0)
('Mikaela', 'si206', 0)
('Monty', 'si206', 0)
('Maximus', 'si206', 0)
('Melica', 'si206', 0)
('Caitlin', 'si206', 0)
('Marie', 'si206', 0)
('Alexandria', 'si206', 0)
('Brendyn', 'si206', 0)
('Zarah', 'si206', 0)
('Shahna', 'si206', 0)
('Moosa', 'si206', 0)
('Darla', 'si206', 0)
('Jem', 'si206', 0)
('Sian', 'si206', 0)
('Lianne', 'si206', 0)
('Domanic', 'si206', 0)
('Talise', 'si206', 0)
('Gursees', 'si206', 0)
('Katharine', 'si206', 0)
('Hashim', 'si206', 0)
('Weronika', 'si206', 0)
('Kayne', 'si206', 0)
('Aneeka', 'si206', 0)
('Archibald', 'si206', 0)
('Aleksandr', 'si206', 0)
('Missy', 'si206', 0)
('Hollyanne', 'si206', 0)
('Andie', 'si206', 0)
('Laila', 'si206', 0)
('Brayden', 'si206', 0)
('Jessica', 'si206', 0)
('Sonia', 'si206', 0)
('Kari', 'si206', 0)
('Hadji', 'si206', 0)
('Cora', 'si206', 0)
('Cedar', 'si206', 0)
('Roos', 'si206', 0)
('CJ', 'si206', 0)
('Miley', 'si206', 0)
('Bryoni', 'si206', 0)
('Maksim', 'si206', 0)
('Pari', 'si206', 0)
('Alaa', 'si206', 0)
('Cristian', 'si206', 0)
('Isaiah', 'si206', 0)
('Flint', 'si206', 0)
('Charleigh', 'si206', 0)
('Cayla', 'si206', 0)
('Caoilfinn', 'si301', 1)
('Markus', 'si301', 0)
('Luc', 'si301', 0)
('Blythe', 'si301', 0)
('Krystyna', 'si301', 0)
('Stephany', 'si301', 0)
('Chase', 'si301', 0)
('Aydan', 'si301', 0)
('Titus', 'si301', 0)
('Geoffrey', 'si301', 0)
('Orson', 'si301', 0)
('Ala', 'si301', 0)
('Caralee', 'si301', 0)
('Charleigh', 'si301', 0)
('Deryn', 'si301', 0)
('Malakai', 'si301', 0)
('Kaelah', 'si301', 0)
('Kashuf', 'si301', 0)
('Meabh', 'si301', 0)
('Wylie', 'si301', 0)
('Caidyn', 'si301', 0)
('Jazmine', 'si301', 0)
('Patrick', 'si301', 0)
('Ker', 'si301', 0)
('Inemesit', 'si301', 0)
('Sherwyn', 'si301', 0)
('Kennedy', 'si310', 1)
('Taegan', 'si310', 0)
('Karrah', 'si310', 0)
('Sukhmani', 'si310', 0)
('Janna', 'si310', 0)
('Jayden', 'si310', 0)
('Johnathan', 'si310', 0)
('Saskia', 'si310', 0)
('Rian', 'si310', 0)
('Deniss', 'si310', 0)
('Abigael', 'si310', 0)
('Babur', 'si310', 0)
('Wu', 'si310', 0)
('Maddie', 'si310', 0)
('Drakeo', 'si310', 0)
('Cadey', 'si310', 0)
('Jadon', 'si310', 0)
('Manson', 'si310', 0)
('Zen', 'si310', 0)
('Kael', 'si310', 0)
('Madelyn', 'si310', 0)
('Meadow', 'si310', 0)
('Tian', 'si334', 1)
('Peter', 'si334', 0)
('Insiya', 'si334', 0)
('Samanthalee', 'si334', 0)
('Bertie', 'si334', 0)
('Caitaidh', 'si334', 0)
('Celsi', 'si334', 0)
('Leen', 'si334', 0)
('Georgi', 'si334', 0)
('Haydon', 'si334', 0)
('Lillyann', 'si334', 0)
('Siddhant', 'si334', 0)
('Moshy', 'si334', 0)
('Iman', 'si334', 0)
('Adelaide', 'si334', 0)
('Poppy', 'si334', 0)
('Bree', 'si334', 0)
('Zoubaeir', 'si334', 0)
('Cathryn', 'si334', 0)
('Lenzy', 'si334', 0)
('Joris', 'si334', 0)
('Aneesa', 'si334', 0)
('Nihaal', 'si334', 0)
('Greta', 'si334', 0)
('Umair', 'si334', 0)
('Sanfur', 'si334', 0)
('Ezra', 'si334', 0)
('Sharlene', 'si363', 1)
('Oryn', 'si363', 0)
('Saarah', 'si363', 0)
('Colm', 'si363', 0)
('Angelika', 'si363', 0)
('Phoebe', 'si363', 0)
('Luna', 'si363', 0)
('Ajay', 'si363', 0)
('Emily', 'si363', 0)
('Kuzivakwashe', 'si363', 0)
('Racheal', 'si363', 0)
('Aliya', 'si363', 0)
('Hayleigh', 'si363', 0)
('Daksh', 'si363', 0)
('Diarmaid', 'si363', 0)
('Zein', 'si363', 0)
('Zian', 'si363', 0)
('Zakir', 'si363', 0)
('Artem', 'si363', 0)
('Tammylee', 'si363', 0)
('Jahy', 'si363', 0)
('Iain', 'si363', 0)
('Rheo', 'si363', 0)
('Morris', 'si363', 0)
('Kym', 'si363', 0)
('Daimhin', 'si363', 0)
('Ami', 'si363', 0)
('Derrie', 'si363', 0)
('Reagan', 'si363', 0)
('Noel', 'si363', 0)
('Jonny', 'si363', 0)
('Rowan', 'si363', 0)
('Aleesha', 'si364', 1)
('Babyjane', 'si364', 0)
('Hiba', 'si364', 0)
('Maxie', 'si364', 0)
('Bobbi', 'si364', 0)
('Valery', 'si364', 0)
('Romany', 'si364', 0)
('Mael', 'si364', 0)
('Agnieszka', 'si364', 0)
('Eqlaas', 'si364', 0)
('Kiranpreet', 'si364', 0)
('Tanisha', 'si364', 0)
('Kaelyn', 'si364', 0)
('Annaliesse', 'si364', 0)
('Sammie', 'si364', 0)
('Hailey', 'si364', 0)
('Jacky', 'si364', 0)
('Ida', 'si364', 0)
('Anwen', 'si364', 0)
('Shea', 'si364', 0)
('Khayla', 'si364', 0)
('Gabriele', 'si364', 0)
('Taiwo', 'si364', 0)
('Malik', 'si364', 0)
('Niteesha', 'si364', 0)
('Arron', 'si364', 0)
('Nagib', 'si364', 0)
('Juliet', 'si364', 0)
('Porsha', 'si364', 0)
('Ronnie', 'si364', 0)
('Peni', 'si364', 0)
('Aurlah', 'si364', 0)
('Edith', 'si364', 0)
('Ayan', 'si364', 0)
('Dorian', 'si364', 0)
('Myleene', 'si364', 0)
('Flyn', 'si364', 0)
('Damaris', 'si364', 0)
('Maude', 'si364', 0)
('Korey', 'si364', 0)
('Declain', 'si364', 0)
('Tian', 'si364', 0)
('Eden', 'si364', 0)
('Sajida', 'si364', 0)
('Manmohan', 'si364', 0)
('Rhiannan', 'si364', 0)
('Lucas', 'si364', 0)
('Kyna', 'si364', 0)
('Alastair', 'si364', 0)
('Sidal', 'si422', 1)
('Rihan', 'si422', 0)
('McKade', 'si422', 0)
('Lily', 'si422', 0)
('Rhoda', 'si422', 0)
('Nicol', 'si422', 0)
('Jomana', 'si422', 0)
('Dougal', 'si422', 0)
('Anna', 'si422', 0)
('Emlyn', 'si422', 0)
('Joshiah', 'si422', 0)
('Shivani', 'si422', 0)
('Harrison', 'si422', 0)
('Jordy', 'si422', 0)
('Lincon', 'si422', 0)
('Georgia', 'si422', 0)
('Peirce', 'si422', 0)
('Conan', 'si422', 0)
('Ally', 'si422', 0)
('Xabier', 'si422', 0)
('Regina', 'si422', 0)
('Fauzaan', 'si422', 0)
('Prasheeta', 'si422', 0)
('Daniels', 'si422', 0)
('Maxine', 'si422', 0)
('Tayyib', 'si422', 0)
('Zi', 'si422', 0)
('Kelise', 'si422', 0)
('Marc', 'si422', 0)
('Miya', 'si422', 0)
('Tyra', 'si422', 0)
('Nicolas', 'si422', 0)
('Chiara', 'si422', 0)
('Jensen', 'si422', 0)
('Caitlyn', 'si430', 1)
('Morgyn', 'si430', 0)
('Lexie', 'si430', 0)
('Marcedez', 'si430', 0)
('Chiron', 'si430', 0)
('Melica', 'si430', 0)
('Aneesa', 'si430', 0)
('Alycia', 'si430', 0)
('Rehanna', 'si430', 0)
('Alanas', 'si430', 0)
('Amina', 'si430', 0)
('Krishan', 'si430', 0)
('Neil', 'si430', 0)
('Brendyn', 'si430', 0)
('Maryk', 'si430', 0)
('Eleanor', 'si430', 0)
('Nasser', 'si430', 0)
('Keenan', 'si430', 0)
('Billie', 'si430', 0)
('Ziyaan', 'si430', 0)
('Kaden', 'si430', 0)
('Samanta', 'si430', 0)
('Raith', 'si430', 0)
('Zayn', 'si430', 0)
('Kajetan', 'si430', 0)
('Rhyanna', 'si430', 0)
('Angel', 'si430', 0)
('Hareem', 'si430', 0)
('Zaynab', 'si430', 0)
('Katrina', 'si430', 0)